.guest_navbar{
    background-color: $brand-primary;
    color: white;
    font-weight: bold;
    padding: 0 1rem !important;
    height: 75px;
    display: flex;
    align-items: center;
    .navbar-brand{
        padding: 0!important;
    }
    a{
        color: white;
        text-decoration: none;
        &:hover{
            opacity: 0.8
        }
    }
    .links{
        a{
            padding: 0 1rem;
        }
    }
}