.guest_navbar{
    background-color: $brand-primary;
    padding: 0.5rem 1rem !important;
    color: white;
    font-weight: bold;
    a{
        color: white;
        text-decoration: none;
        &:hover{
            opacity: 0.8
        }
    }
    .links{
        a{
            padding: 0 1rem;
        }
    }
}